.pf1.sheet.caravan.actor .tab.summary .attributes .unrest-details {
    flex: 4;
}

.pf1.actor.caravan.sheet .tab:is(.travelers, .wagons, .cargo, .feats) footer :is(.feat-counts, .wagon-counts, .traveler-counts, .cargo-counts) {
    display: flex;
    flex-flow: row nowrap;
    gap: 3px;
}

.pf1.actor.caravan.sheet .tab:is(.travelers, .wagons, .cargo, .feats) footer :is(.feat-counts, .wagon-counts, .traveler-counts, .cargo-counts) .stats {
    flex: 4;
}

.pf1.actor.caravan.sheet .tab:is(.travelers, .wagons, .feats, .cargo) .item-notifications {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 3px;
    flex: 0;
    margin: 2px;
}

.pf1 .type-color.type-pf1e-caravans\.traveler {
    --primary: #283E51;
    --secondary: #4B79A1;
    --foreground: white;
}

.pf1 .type-color.type-pf1e-caravans\.wagon {
    --primary: #cb2d3e;
    --secondary: #ef473a;
    --foreground: white;
}

.pf1 .type-color.type-pf1e-caravans\.feat {
    --primary: #5f00a3;
    --secondary: #8900ea;
    --foreground: white;
}

.pf1 .type-color.type-pf1e-caravans\.cargo {
    --primary: #56ab2f;
    --secondary: #a8e063;
    --foreground: white;
}

.icon-pf.icon-wooden-crate {
    mask-image: url(../public/icons/wooden-crate.svg);
    -webkit-mask-image: url(../public/icons/wooden-crate.svg);
}